{% extends 'CaiWebBundle::base.html.twig' %}

{% block body -%}
    <h1>Imagen list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Foto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('imagen_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.filename }}</td>
                <td><img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ entity.filenamebinary }}/small-{{ entity.filename }}"> </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('imagen_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('imagen_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
